*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Structural styling */
body{

    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', Times, serif;

}
/* Header and Footer */
#header, #footer{
    text-align: left;
    background-color: black;
    color: white;
    
    
}

#footer{
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

#header{
    text-align: left;
    padding: 20px;
    font-size: 36px;
}

/* Tasks and Projects */
#content{
    flex: auto;
    display: flex;
}

/* Sidebar Stuff */
#sidebar{
    width: 33.3%;
    background-color: chocolate;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-sidebars{
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.sidebar-tab{
    cursor: pointer;
    font-size: 26px;

    display: inline-block;
    border: 0;
    background-color: chocolate;
}

.sidebar-tab:hover{
    background-color: rgb(228, 105, 18);
}

#projects-header{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#project-list{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#add-project-btn{
    display: block;
    width: 100px;
    
}

.delete-project{
    transform: rotate(45deg);
    font-size: 15px;
    border: 0;
    background-color: chocolate;
    cursor: pointer;

    display: inline-block;
}

/* Main */
#items{
    width: 66.7%;
    background-color: red;

    display: flex;
    flex-direction: column;

    padding: 10px;
}

#task-subheader{
    background-color: orange;
    color: white;
    font-size: 30px;
    text-align: center;
}

#add-btn, .task{
    
    color: black;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 10px;

    border: 0;
}

#add-btn{
    background-color: white;
}

.task{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;

    padding: 5px;
    
}

.left-items{

}

.right-items{
    display: flex;
    gap: 10px
}

/* Pop-up modals */
.modal{

    display: flex;

    display: none;

    z-index: 1;
    
    position: absolute;

    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    align-items: center;
    justify-content: center;


}

.modal-content{

    background-color: white;

    width: 700px;
    height: 500px;

    position: relative;

    padding: 20px;
    text-align: center;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    border: 0;

    cursor: pointer;

    font-size: 50px;

    transform: rotate(45deg); 

    background-color: white;

}

.modal-header{
    font-size: 40px;  
}

#add-task-form{
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

#add-project-form{
    margin-top: 20px;
}

.form-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    margin: 5px;
}

.modal-img{

    height: 150px;
    width: 150px;
    margin-top: 10px;
}

.add-label{
    font-size: 36px;
    width: 100px;
    text-align: left;
    
}
.add-input{
    padding: 10px;
    flex: auto;
    font-size: inherit;
}

.submitBtn{
    font-size: 25px;
    padding: 5px;

    margin-top: 10px
}
