*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Structural styling */
body{

    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', Times, serif;

}

#content{
    flex: auto;
    display: flex;
}

#sidebar{
    width: 33.3%;
    background-color: chocolate;
}

#items{
    width: 66.7%;
    background-color: red;
}

#header, #footer{
    text-align: left;
    background-color: black;
    color: white;
    
    
}

#footer{
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

#header{
    text-align: left;
    padding: 10px;
    font-size: 48px;
}